#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 4
#define SCROLL 5
#define NUM 2
#define IPA_NASAL 7
#define IPA_IMPLO 8

&mt {
    flavor = "hold-preferred";
    quick-tap-ms = <0>;
};

&sl { release-after-ms = <250>; };

/ {
    combos {
        compatible = "zmk,combos";

        BT0 {
            bindings = <&bt BT_SEL 0>;
            key-positions = <28>;
        };

        BT1 {
            bindings = <&bt BT_SEL 1>;
            key-positions = <28 23>;
        };

        BT2 {
            bindings = <&bt BT_SEL 2>;
            key-positions = <28 24>;
        };
    };

    macros {
        // --- IPAマクロ用テンプレート (Ctrl+Space切替込み) ---

        #define IPA_MACRO(name, code)

        name: name {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <1>;
            tap-ms = <1>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap code>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        IPA_MACRO(m_m_vless, &kp N0 &kp N2 &kp N6 &kp D)     // m̥ (U+026D)
        IPA_MACRO(m_m_vced,  &kp N0 &kp N0 &kp N6 &kp D)     // m (U+006D)
        IPA_MACRO(m_phi,     &kp N0 &kp N2 &kp N7 &kp N8)     // ɸ (U+0278)
        IPA_MACRO(m_beta,    &kp N0 &kp N3 &kp B &kp N2)      // β (U+03B2)
        IPA_MACRO(m_p_phi,   &kp N0 &kp N0 &kp N7 &kp N0 &kp N0 &kp N2 &kp N7 &kp N8) // p͡ɸ
        IPA_MACRO(m_b_beta,  &kp N0 &kp N0 &kp N6 &kp N2 &kp N0 &kp N3 &kp B &kp N2) // b͡β
        IPA_MACRO(m_beta_ap, &kp N0 &kp N3 &kp B &kp N2 &kp N0 &kp N3 &kp N1 &kp E) // β̞
        IPA_MACRO(m_v_flap,  &kp N2 &kp C &kp N7 &kp N1)     // ⱱ̟ (U+2C71)
        IPA_MACRO(m_b_trill_vl, &kp N0 &kp N2 &kp N9 &kp N9) // ʙ̥ (U+0299)
        IPA_MACRO(m_b_trill_vc, &kp N0 &kp N2 &kp N9 &kp N8) // ʙ (U+0298)
        IPA_MACRO(m_p_click, &kp N0 &kp N2 &kp N9 &kp N8)     // ʘ (U+0298)
        IPA_MACRO(m_b_implo, &kp N0 &kp N2 &kp N5 &kp N3)     // ɓ (U+0253)
        // 既存マクロ

        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
        };
    };

    behaviors {
        // --- P/Bキーの高度な分岐設定 ---

        mm_p_lalt: mm_p_lalt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp P>, <&m_phi>;

            mods = <(MOD_LALT)>;
        };

        mm_p_final: mm_p_final {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mm_p_lalt>, <&m_p_phi>;

            mods = <(MOD_LCMD|MOD_RALT)>;
        };

        mm_b_lalt: mm_b_lalt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp B>, <&m_beta>;

            mods = <(MOD_LALT)>;
        };

        mm_b_ralt: mm_b_ralt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mm_b_lalt>, <&m_beta_ap>;

            mods = <(MOD_RALT)>;
        };

        mm_b_trill: mm_b_trill {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mm_b_ralt>, <&m_b_trill_vc>;

            mods = <(MOD_RCTL)>;
        };

        mm_b_final: mm_b_final {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mm_b_trill>, <&m_b_beta>;

            mods = <(MOD_LCMD|MOD_RALT)>;
        };

        mm_b_flap: mm_b_flap {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mm_b_final>, <&m_v_flap>;

            mods = <(MOD_LCTL)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q         &kp W          &kp E         &kp R                          &kp T                                                                         &kp Y        &kp U  &lt 5 I    &kp O    &mm_p_final
&kp A         &kp S          &kp D         &kp F                          &kp G                   &mkp MB1                               &kp EQUAL      &kp H        &kp J  &kp K      &kp L    &kp MINUS
&kp Z         &kp X          &kp C         &kp V                          &mm_b_final             &mt LEFT_SHIFT MINUS                   &parenthesis   &kp N        &kp M  &kp COMMA  &kp DOT  &kp SEMICOLON
&kp LEFT_GUI  &kp RIGHT_GUI  &kp LEFT_ALT  &mt RIGHT_ALT INTERNATIONAL_2  &mt LEFT_CONTROL SPACE  &mt RIGHT_CONTROL INTERNATIONAL_4      &kp BACKSPACE  &lt 1 ENTER                             &kp DEL
            >;
        };

        SYMBOLS {
            bindings = <
&kp ESCAPE  &kp AMPERSAND    &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS                      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans         &trans             &trans
&kp TILDE   &kp DOLLAR       &kp PERCENT   &kp CARET             &trans                 &trans      &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp SEMICOLON  &kp SINGLE_QUOTE   &kp BACKSLASH
&kp GRAVE   &kp EXCLAMATION  &kp AT_SIGN   &kp HASH              &trans                 &trans      &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp COLON      &kp DOUBLE_QUOTES  &kp PIPE
&trans      &trans           &trans        &trans                &trans                 &trans      &trans  &trans                                                                         &trans
            >;
        };

        NUM {
            bindings = <
&kp MINUS                   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp PLUS                                           &trans      &kp F7  &kp F8  &kp F9  &kp F10
&kp SLASH                   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp ASTERISK  &kp LC(LA(KP_NUMBER_0))      &trans  &trans      &kp F4  &kp F5  &kp F6  &kp F11
&mt LEFT_SHIFT KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp PERIOD    &kp EQUAL                    &trans  &kp ESCAPE  &kp F1  &kp F2  &kp F3  &kp F12
&trans                      &trans           &trans           &trans           &trans        &trans                       &trans  &trans                              &kp F13
            >;
        };
    };
};
